@font-face {
    font-family: 'Vanilla';
    src: url(../fonts/Vanilla.otf);
}


body {
    background-color: rgb(167, 205, 236);
    margin: 0 auto;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: center;

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100vh;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 30%, #1e6e817c 100%);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }

    .open {
        left: 0;
    }

    .navbar-logo {
        position: relative;
        padding: 1.2rem 0;
        background-color: rgb(46, 59, 83);
        width: 100%;

        display: flex;
        justify-content: center;

        img {
            max-width: 16vw;

            @media screen and (max-width: 767px) {
                max-width: 50vw;
            }
        }

        .hamburger-icon {
            margin-right: 20px;
            cursor: pointer;
            position: absolute;
            right: 0;
            fill: #fff;

            @media screen and (max-width: 767px) {
                bottom: 16px;
            }
        }
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        h1,
        p {
            text-align: center;
            color: rgb(20, 30, 49);
            ;
        }

        .ideas-list {
            display: flex;
            flex-direction: column;

            a {
                color: #eeeeee;
                text-decoration: none;
                padding: 1rem 0;

                &:hover {
                    color: rgb(20, 30, 49);
                }
            }

            .nav-icon {
                rotate: (90deg);
                margin-right: 0.2rem;
            }
        }
    }

}


.generator {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    p {
        padding: 1rem 5rem;
    }

    h1 {
        color: #263146;
        font-family: 'Vanilla';
        font-weight: 100;
    }

    .btn-list {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin: 0 1rem;

            @media screen and (max-width: 767px) {
                margin: 0.5rem 0.2rem;
            }
        }

        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    .slider-container {
        width: 30vw;
    }

    .participant, .price {
        padding: 0;
        margin: 0;
    }
}

.footer {
    background-color: rgb(149, 189, 221);
    padding: 0.4rem 0;
    color: #eeeeee;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    p {
        margin: 10px 0;
    }

    .git-icon {
        fill: #fff;
    }
}

.icon-wrapper {
    display: flex;
    align-items: center;
}